html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: #fafafa;
  color: #333;
  font-family: -apple-system, system-ui, 'Open Sans', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
}

a,
a:active,
a:hover,
a:visited {
  color: royalblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol,
ul {
  list-style: none;
}
